@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --color-black: #151515;
    --color-gray: #343434;
    --color-dark-gray: #232323;
    --color-white-red: #ed5252;
    --color-red: #e73939;
    --color-dark-red: #c51f1f;
    --color-white: #f0f0f0;
}

/* FONTS */

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* MAIN */

body {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    background-color: var(--color-white);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
}

ol,
ul {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}
input,
button,
[type="button"],
[type="submit"],
[role="button"] {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

:focus-visible {
    outline: none;
    outline-offset: none;
}
:where(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
}

p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

code,
kbd,
samp,
pre {
    font-family: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}